.Title {
  @apply --reset-font;
  @apply --reset-layout;
  @apply --lineClamp-2line;
  color: #212529;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.31em;
  @nest .PortraitBook & {
    font-size: 13px;
  }
}
