:root {
  --site-header-height: 80px;
  --site-footer-height: 180px;
}

body {
  padding-top: 0;
}

.container {
  max-width: 1024px;
}

.site-header {
  position: static;
  padding: 0 var(--site-padding);
}

.site-title__logo {
  width: 193px;
  padding: 25px 0 0 0;
}

.site-title__link {
  padding: 0;
}

.site-menu-toggle-button {
  display: none;
}

.site-menu {
  position: static;
  margin-top: 2px;
  visibility: visible;
  opacity: 1;
}

.site-menu__list {
  display: block;
}

.site-menu__item {
  display: inline-block;
  margin: 0;
  font-size: 16px;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-aside {
  padding: 0;
}

.site-submenu {
  padding: 0 var(--site-padding);
  border: none;
  border-bottom: 1px solid var(--slategray_5);
  pointer-events: none;

  &::after {
    display: none;
  }
}

.site-submenu__list {
  margin: 0 auto;
  display: block;
  position: static;
  border: none;
  text-align: right;
}

.site-submenu__item {
  display: inline-block;
  pointer-events: auto;

  &:not(:last-child) {
    margin-right: 50px;
  }

  &:hover {
    font-weight: bold;
    color: var(--lightsteelblue_100);
  }
}

.site-submenu__item_active {
  background: none;
}

.site-submenu__link {
  padding: 16px 0;
  text-align: center;
}

.site-submenu__placeholder {
  display: none;
}

.site-main__content {
  order: 0;
}

.site-main__aside {
  order: 1;
  margin-top: 126px;
  margin-left: 60px;
  display: block;
  box-sizing: border-box;
  width: 200px;
}

.site-toc {
  position: sticky;
  top: 20px;
}

.site-toc-list {
  margin: -16px 0;
  padding: 0;
}

.site-toc-list__item {
  margin: 16px 0;
  list-style: none;
}

.site-toc-list__link {
  padding: 0 12px;
  display: block;
  font-size: 15px;
  font-weight: normal;
  color: var(--slategray_50);

  &:hover {
    color: var(--dodgerblue_40);
  }

  &:active {
    font-weight: bold;
    color: var(--dodgerblue_40);
    background: none;
  }
}

.site-footer {
  padding: 0 var(--site-padding);
  text-align: left;
}

.site-footer__container {
  height: 100%;
  align-items: center;
}

.site-link-wrapper {
  padding-top: 30px;
}

.site-copyright {
  padding-top: 100px;
  text-align: right;
}

.site-link-list {
  padding: 0;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.site-link-list-products {
  float: left;
  padding: 10px 0;
}

.site-link-list-misc {
  float: right;
}

