:root {
  --site-header-height: 120px;
  --site-footer-height: 120px;
}

body {
  padding-top: 0;
}

.container {
  max-width: 1024px;
}

.site-header {
  position: static;
  padding: 0 var(--site-padding);
}

.site-title {
  margin-right: 20px;
  font-size: 22px;
}

.site-title__link {
  padding: 25px 0;
}

.site-title__ridi {
  width: 44px;
  height: 18px;
}

.site-menu {
  height: auto;
}

.site-menu__toggle-button {
  display: none;
}

.site-menu__list {
  visibility: visible;
  opacity: 1;
  position: static;
  display: block;
}

.site-menu__item {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  color: var(--slategray_100);

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-aside {
  padding: 0;
}

.site-submenu {
  padding: 0 var(--site-padding);
  border: none;
  border-bottom: 1px solid var(--slategray_5);
  pointer-events: none;

  &::after {
    display: none;
  }
}

.site-submenu__list {
  margin: 0 auto;
  display: block;
  position: static;
  border: none;
  text-align: right;
}

.site-submenu__item {
  display: inline-block;
  pointer-events: auto;

  &:not(:last-child) {
    margin-right: 50px;
  }

  &:hover {
    font-weight: bold;
    color: var(--lightsteelblue_100);
  }
}

.site-submenu__item_active {
  background: none;
}

.site-submenu__link {
  padding: 16px 0;
  text-align: center;
}

.site-submenu__placeholder {
  display: none;
}

.site-footer {
  padding: 0 var(--site-padding);
  text-align: left;
}

.site-footer__container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.site-link-list {
  margin-bottom: 0;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.site-link-list-products {
  flex: 1;
}

