:root {
  --site-header-height: 80px;
  --site-footer-height: 180px;
}

body {
  padding-top: 0;
}

h2[id] {
  padding-top: 60px;
  margin-top: 0;
}

.container {
  max-width: 1024px;
}

.site-header {
  position: static;
  padding: 0 var(--site-padding);

  &::after {
    position: absolute;
    z-index: 10;
  }
}

.site-title__logo {
  width: 193px;
  padding: 25px 0 0 0;
}

.site-title__link {
  padding: 0;
}

.site-menu-toggle-button {
  display: none;
}

.site-menu {
  position: static;
  visibility: visible;
  opacity: 1;
}

.site-menu__list {
  padding: 0;
}

.site-menu__list .site-menu__list {
  display: none;
}

.site-menu__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-menu__item-link {
  padding: 0;
  text-align: center;

  &::after {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.site-menu__toc {
  display: none;
}

.site-main__content {
  order: 0;
}

.site-main__aside {
  order: 1;
  margin-top: 126px;
  margin-left: 60px;
  display: block;
  box-sizing: border-box;
  width: 200px;
}

.site-toc {
  position: sticky;
  top: 0;
}

.site-toc-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-toc-list__item {
  margin: 0;
}

.site-toc-list__link {
  display: block;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: normal;
  color: var(--slategray_50);
  transition: color 0.2s;

  &:hover {
    color: var(--dodgerblue_40);
  }

  &.link_active {
    color: var(--dodgerblue_40);
    font-weight: bold;
  }
}

.site-toc-list__page-link {
  display: block;
  padding: 10px 0;
  color: var(--slategray_80);
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.2s;

  &:hover {
    color: var(--slategray_80);
    opacity: 0.5;
  }
}

.site-footer {
  padding: 0 var(--site-padding);
  text-align: left;
}

.site-footer__container {
  height: 100%;
  align-items: center;
}

.site-link-wrapper {
  padding-top: 30px;
}

.site-copyright {
  padding-top: 100px;
  text-align: right;
}

.site-link-list {
  padding: 0;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.site-link-list-products {
  float: left;
  padding: 10px 0;
}

.site-link-list-misc {
  float: right;
}

