:root {
  --site-header-height: 74px;
  --site-footer-height: 200px;
  --site-padding: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  padding-top: var(--site-header-height);
  padding-bottom: var(--site-footer-height);
}

.container {
  margin: 0 auto;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--site-header-height);
  padding: 0;
  background: var(--white);
  color: var(--slategray_100);
  border-bottom: 1px solid var(--slategray_10);
  z-index: 10;
}

.site-header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  float: left;
  display: block;
}

.site-title__logo {
  width: 166px;
  height: 0;
  padding: 18px 0 0 0;
  overflow: hidden;
  margin-top: 5px;
  object-fit: contain;
  background: url('/assets/img/RIDIDesignSystem.svg') no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.site-title__beta {
  width: 45px;
  height: 24px;
  margin-top: 1px;
  object-fit: contain;
  background: url('/assets/img/tag_beta.png') no-repeat;
  background-size: cover;
}

.site-title__link {
  display: inline-block;
  padding: 25px 20px;
  color: inherit;
  font-weight: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.site-menu {
  height: 100%;
}

.site-menu__toggle-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 64px;
  height: 100%;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;

  & .site-menu__toggle-button-content, &::before, &::after {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    height: 0;
    border: 1px solid currentColor;
    border-radius: 1px;
  }

  & .site-menu__toggle-button-content {
    width: 24px;
    font-size: 0;
    transition: opacity .2s;
  }

  &::before, &::after {
    content: "";
    width: 18px;
    transition: transform .2s;
  }

  &::before {
    transform: translateY(-7px);
  }

  &::after {
    transform: translateY(7px);
  }
}

.site-menu__toggle-button_pressed {
  &::before {
    transform: rotateZ(45deg) scaleX(1.414);
  }

  &::after {
    transform: rotateZ(-45deg) scaleX(1.414);
  }

  & .site-menu__toggle-button-content {
    opacity: 0;
  }
}

.site-menu__list {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: var(--site-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background: var(--white);
}

.site-menu__list_animated {
  transition: opacity .2s, visibility .2s;
}

.site-menu__list_visible {
  visibility: visible;
  opacity: 1;
}

.site-menu__item {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--slategray_100);
  text-align: center;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.5;
  }
}

.site-menu__item_active {
  color: var(--slategray_100);
  font-weight: 700;
  border-top: 2px solid white;
  border-bottom: 2px solid currentColor;
}

.site-menu__link {
  display: block;
  padding: 0 0 5px;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: inherit;
  }

  &::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.site-aside {
  padding: var(--site-padding);
}

.site-submenu {
  position: relative;
  border: 1px solid var(--slategray_20);
  background: var(--submenu-background-color);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    content: "";
    width: 52px;
    background: var(--slategray_50);
    mask: url("~@ridi/rsg/svg/icons/arrow_5_down.svg") center no-repeat;
    mask-size: 12px 7px;
    cursor: pointer;
  }
}

.site-submenu__list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 -1px;
  padding: 0;
  border: 1px solid var(--slategray_20);
  background: var(--submenu-background-color);
  list-style: none;
}

.site-submenu__item {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--lightsteelblue_90);
  cursor: pointer;
}

.site-submenu__item_active {
  font-weight: bold;
  color: var(--lightsteelblue_100);
  background: var(--submenu-active-item-background-color);
}

.site-submenu__link {
  display: block;
  padding: 14px 20px;
  font-weight: inherit;

  &::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &, &:hover {
    color: inherit;
  }
}

.site-submenu__placeholder {
  display: block;
  background: none;
}

.site-submenu_opened {
  &::after {
    transform: rotate(180deg);
  }

  & .site-submenu__list {
    display: block;
  }
}

.site-main {
  padding: 40px var(--site-padding) 80px;
}

.site-main__container {
  display: flex;
}

.site-main__content {
  flex: 1;
  width: 0;
}

.site-main__aside {
  display: none;
}

.site-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  height: var(--site-footer-height);
  border-top: 1px solid var(--slategray_10);
  padding: 20px 0 24px;
  text-align: center;
  background: var(--lightsteelblue_10);
}

.site-link-wrapper {
  display: block;
  width: 100%;
  align-items: center;
}

.site-copyright {
  padding-top: 18px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: var(--lightsteelblue_70);
  font-weight: normal;
  letter-spacing: 0;
}

.site-link-list {
  margin: 0;
  padding: 18px 0;
  line-height: 0;
}

.site-link-list-products__item {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  vertical-align: text-bottom;

  &:not(:last-child) {
    &::after {
      content: "";
      margin: 0 12px;
      display: block;
      width: 3px;
      height: 3px;
      background: var(--lightsteelblue_40);
      border-radius: 50%;
    }
  }
}

.site-link-list-misc__item {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  vertical-align: text-bottom;

  &:not(:last-child) {
    &::after {
      content: "";
      margin: 0 12px;
      display: block;
    }
  }
}

.site-link-list__link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: var(--lightsteelblue_70);
  transition: color 0.2s;

  &:hover {
    color: var(--lightsteelblue_100);
  }
}

.site-link-list-products__link,
.site-link-list-misc__link {
  display: inline-block;
  background-color: currentColor;
  mask: center no-repeat;
  height: 11px;
  text-indent: -99999px;
  overflow: hidden;
}

.site-link-list__link-ridibooks {
  mask-image: url('/assets/img/ridibooks.svg');
  width: 86px;
  height: 13px;
}

.site-link-list__link-ridiselect {
  mask-image: url('/assets/img/ridiselect.svg');
  width: 82px;
  height: 13px;

}

.site-link-list__link-paper {
  mask-image: url('/assets/img/paper.svg');
  width: 56px;
  height: 13px;

}

.site-link-list__link-blog {
  mask-image: url('/assets/img/footer_icon_ridi.svg');
  width: 36px;
  height: 36px;
}

.site-link-list__link-dribbble {
  mask-image: url('/assets/img/footer_icon_dribbble.svg');
  width: 36px;
  height: 36px;
}

.site-link-list__link-github {
  mask-image: url('/assets/img/footer_icon_github.svg');
  width: 36px;
  height: 36px;
}
