language: node_js
node_js: '10'
cache: yarn

script:
  - yarn build

before_deploy:
  - printf "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc

  - git config --global user.email "travis@travis-ci.com"
  - git config --global user.name "Travis CI"

  - SSH_FILE=$HOME/.ssh/github_deploy_key
  - >-
    openssl aes-256-cbc
    -K $encrypted_17d783f347c4_key
    -iv $encrypted_17d783f347c4_iv
    -in github_deploy_key.enc
    -out $SSH_FILE
    -d
  - chmod 600 $SSH_FILE
  - >-
    printf "%s\n"
    "Host github.com"
    "  IdentityFile $SSH_FILE"
    "  LogLevel ERROR"
    >> ~/.ssh/config
  - git remote set-url origin git@github.com:${TRAVIS_REPO_SLUG}.git

deploy:
  - provider: script
    script: lerna publish from-git --yes
    skip_cleanup: true
    on:
      repo: ridi/design-system
      branch: master
      tags: true

  - provider: script
    script: >-
      NODE_DEBUG=gh-pages
      gh-pages
      --dist package-explorer/dist
      --branch master
      --dest docs/packages
      --add
      --message "Update package-explorer"
      --dotfiles
    skip_cleanup: true
    on:
      repo: ridi/design-system
      branch: master
      tags: true
