.do {
    display: inline-block;
    width: 12px;
    height: 0;
    padding: 12px 0 0;
    margin-right: 7px;
    overflow: hidden;
    background: url('/assets/img/quote_icon_do.svg') no-repeat;
  }

.dont {
  display: inline-block;
  width: 12px;
  height: 0;
  padding: 12px 0 0;
  margin-right: 7px;
  overflow: hidden;
  background: url('/assets/img/quote_icon_dont.svg') no-repeat;
}

.columnWrapper {
  display: block;
  width: 100%;
}

.columns {
  display: inline-block;
  margin: 0;
  padding: 0 0 20px 0;
}

.columns img, video {
  margin: 0 0 10px 0;
}

.columnText {
  margin-top: -20px;
}

/* imageBadge */
.mp4Badge {
  position: relative;
}

.mp4Badge:before {
  content: "MP4";
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px 6px;
  height: 23px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 23px;
  color: #fff;
  background: rgba(0,0,0,.2);
}
