html {
  font-family: 'Open Sans', 'APPLE SD Gothic Neo', HelveticaNeue, Helvetica, NanumGothic, '맑은 고딕', 'Malgun Gothic', arial, sans-serif;
  line-height: normal;
  letter-spacing: -.3px;
  background: var(--white);
  color: var(--slategray_80);
}

h1, h2, h3, h4, h5, h6 {
  margin: 40px 0 16px;
  font-weight: bold;
}

h1 {
  padding-bottom: 30px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--slategray_100);
  border-bottom: 1px solid var(--slategray_5);

  & small {
    margin: 8px 0;
    display: block;
    font-size: 20px;
    font-weight: normal;
  }
}

h2 {
  font-size: 28px;
  padding-top: 60px;
}

h3 {
  font-size: 22px;
  margin: 40px 0 14px;
}

h4 {
  margin-top: 30px;
  font-size: 18px;
}

h5 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
}

h6 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.75;
}

p {
  line-height: 1.75;
}

ul {
  padding: 0 0 0 28px;
}

ul ul {
  padding: 0 0 0 18px;
}

li {
  margin: 7px 0;
  line-height: 1.75;
}

blockquote {
  margin: 0 0 40px 0;
  padding: 0 0 0 20px;
  border-left: 4px solid var(--lightsteelblue_20);
  color: var(--slategray_50);
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid var(--slategray_10);
}

th, td {
  padding: 10px 16px;
}

thead {
  background: var(--lightsteelblue_10);
}

th {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  color: var(--slategray_60);
}

td:first-child {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #1abc9c;

  &:hover {
    opacity: .5;
  }
}

code {
  padding: 2px 5px;
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 0;
  background: rgba(227,237,247,.7);
  color: var(--slategray_80);
  border-radius: 2px;
}

pre {
  overflow-x: auto;
  padding: 30px;
  font-size: 12px;
  background: var(--lightsteelblue_5);

  & code {
    padding: 0;
    font-size: inherit;
    background: none;
  }
}


img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
}

figcaption {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: var(--slategray_60);
}

hr {
  margin: 60px 0;
  border: 1px solid var(--slategray_5);
}

.footnotes {
  margin-top: 80px;
  font-size: 15px;
  color: var(--slategray_50);

  & ol {
    padding-left: 14px;
  }
}
a.footnote {
  font-weight: 700;
  font-size: 13px;
  padding: 0 2px;
}

.color-box {
  width: 80%;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 3px;
  margin: 4px 0;
  font-size: 14px;
  color: white;

  & span {
    background: rgba(0,0,0,.1);
    padding: 2px 8px 4px 8px;
    border-radius: 14px;
    margin: 6px;
    display: inline-block;
  }

  & span:last-child {
    float: right;
  }

}

.txt-black {
  color: var(--slategray_70);
}