html {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: normal;
  letter-spacing: -.3px;
  background: var(--white);
  color: var(--slategray_80);
}

h1, h2, h3, h4, h5, h6 {
  margin: 40px 0 20px;
  font-weight: bold;
}

h1 {
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--slategray_100);
  border-bottom: 1px solid var(--slategray_5);

  & small {
    margin: 8px 0;
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
}

h2 {
  font-size: 28px;
  margin: 0 0 20px;
  padding-top: 60px;
}

h3 {
  font-size: 22px;
}

h4 {
  margin-top: 30px;
  font-size: 18px;
}

h5 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
}

h6 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.75;
}

p {
  line-height: 1.75;
}

ul {
  padding: 0 0 0 28px;
}

ul ul {
  padding: 0 0 0 18px;
}

li {
  margin: 8px 0;
  line-height: 1.75;
}

blockquote {
  margin: 0 0 40px 0;
  padding: 0 0 0 20px;
  border-left: 4px solid var(--lightsteelblue_20);
  color: var(--slategray_50);
}

.do {
  display: inline;
  float: left;
  background: url('/assets/img/quote_icon_do.svg') no-repeat;
  width: 12px;
  height: 0;
  padding: 12px 0 0;
  overflow: hidden;
  margin: 10px 10px 0 0;
}

.dont {
  display: inline;
  float: left;
  background: url('/assets/img/quote_icon_dont.svg') no-repeat;
  width: 12px;
  height: 0;
  padding: 12px 0 0;
  overflow: hidden;
  margin: 10px 10px 0 0;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid var(--slategray_10);
}

th, td {
  padding: 10px 16px;
}

thead {
  background: var(--lightsteelblue_5);
}

th {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  color: var(--slategray_60);
}

td:first-child {
  font-weight: bold;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--dodgerblue_30);

  &:hover {
    color: var(--dodgerblue_40);
  }
}

code {
  padding: 2px 4px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  letter-spacing: 0;
  background: var(--lightsteelblue_5);
}

pre {
  overflow-x: auto;
  padding: 30px;
  font-size: 12px;
  background: var(--lightsteelblue_5);

  & code {
    padding: 0;
    font-size: inherit;
    background: none;
  }
}


img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
}

figcaption {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: var(--slategray_60);
}

hr {
  margin: 60px 0;
  border: 1px solid var(--slategray_5);
}
