@import "~normalize.css";
@import "fonts.css";
@import "colors.css";
@import "defaults.css";
@import "highlights.css";
@import "/_layouts/_default.css";
//@import "/_pages/app/components/_style.css";
//@import "/_pages/app/icons/_style.css";
//@import "/_pages/app/motion/_style.css";
//@import "/_pages/app/principles/_style.css";
//@import "/_pages/app/typography/_style.css";
//@import "/_pages/colors/_style.css";
@import "/_pages/home/_style.css";

//@import "/_pages/principles/_style.css";
//@import "/_pages/web/components/_style.css";
//@import "/_pages/web/icons/_style.css";
//@import "/_pages/web/motion/_style.css";
//@import "/_pages/web/principles/_style.css";
//@import "/_pages/web/typography/_style.css";
//@import "/_pages/writings/_style.css";

@import "/_layouts/_default.large.css" (min-width: 769px);
