html.home {
  & .header {
    padding: 120px var(--site-padding);
    background-image: url('./img/home_bg.png');
  }

  & .hero {
    margin: calc(-1 * var(--site-padding));
    margin-bottom: 0;
    padding: 120px 20px 40px;
    text-align: left;
  }

  & .hero__title {
    width: 432px;
    height: 0;
    padding: 47px 0 0 0;
    margin: 0;
  }

  & .hero__description {
    margin: 20px 0;
    padding: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--slategray_50);
    border: none;
  }

  & .site-content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    &:after {
      content: "";
      flex: auto;
    }
  }

  & .site-content {
    width: calc(33.333% - 26px);
    margin: 80px 0 0;
    margin-right: 38px;

    &:nth-child(3){
      margin-right: 0;
    }
  }

  & .site-content__title {
    font-size: 27px;
  }
}
