html.home {
  & .header {
    padding: 120px var(--site-padding);
    background-image: url('./img/home_bg.png');
  }

  & .hero__logo {
    width: 420px;
    height: 45px;
    background: url(../../assets/img/RIDIDesignSystem.svg) no-repeat;
    background-size: cover;
  }

  & .hero__title {
    margin: 20px 0;
    padding: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: var(--slategray_50);
    border: none;
  }

  & .site-content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    &:after {
      content: "";
      flex: auto;
    }
  }

  & .site-content {
    margin-right: 38px;

    &:nth-child(3){
      margin-right: 0;
    }
  }
}
