html.home {
  & .site-main {
    padding: var(--site-padding);
  }

  & .site-main__container {
    max-width: none;
  }

  & .header {
    margin: calc(-1 * var(--site-padding));
    margin-bottom: 0;
    padding: 70px 0;
    background: url('./img/home_bg_m.png') center center no-repeat;
    background-size: cover;
  }

  & .header__title {
    margin: 0 0 20px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.38;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(33, 37, 41, 0.5);
    border: none;
  }

  & .header__description {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: -0.3px;
    text-align: center;
    color: var(--slategray_40);
  }

  & .site-content-nav {
    margin: 100px 0;
  }

  & .site-content-list {
    padding: 0;
    list-style: none;
  }

  & .site-content {
    margin: 80px 0;
    background: no-repeat center top;
    background-size: 80px 50px;
    text-align: center;
    line-height: normal;
  }

  & .site-content__link {
    display: inline-block;
    margin: 0 auto;
    padding-top: 80px;
    font-weight: normal;
    text-decoration: none;

    &:hover {
      & .site-content__title {
        color: var(--slategray_60);
      }
    }
  }

  & .site-content__title {
    margin: 0 0 12px;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--slategray_90);
    border: none;
  }

  & .site-content__description {
    margin: 0;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.3px;
    color: var(--slategray_90);
  }

  & .site-content-principles {
    background-image: url('./img/home_icon_principles.png');
  }

  & .site-content-writings {
    background-image: url('./img/home_icon_writings.png');
  }

  & .site-content-colors {
    background-image: url('./img/home_icon_colors.png');
  }

  & .site-content-web {
    background-image: url('./img/home_icon_web.png');
  }

  & .site-content-app {
    background-image: url('./img/home_icon_app.png');
  }
}
