@import "~normalize.css";
@import "_fonts.css";
@import "_colors.css";
@import "_defaults.css";
@import "/_layouts/_default.css";
//@import "/_pages/app/components/_style.css";
//@import "/_pages/app/icons/_style.css";
//@import "/_pages/app/motion/_style.css";
//@import "/_pages/app/principles/_style.css";
//@import "/_pages/app/typography/_style.css";
//@import "/_pages/colors/_style.css";
@import "/_pages/home/_style.css";

//@import "/_pages/principles/_style.css";
//@import "/_pages/web/components/_style.css";
//@import "/_pages/web/icons/_style.css";
//@import "/_pages/web/motion/_style.css";
//@import "/_pages/web/principles/_style.css";
//@import "/_pages/web/typography/_style.css";
//@import "/_pages/writings/_style.css";
