html.home {
  & .header {
    margin: 0 0 100px;
    padding: 70px 0;
    text-align: center;
    background: url('/_pages/home/img/home_bg_m.png');
    background-size: cover;
  }

  & .header-title {
    margin: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.38;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(33, 37, 41, 0.5);
  }

  & .header-description {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: -0.3px;
    text-align: center;
    color: #9ea7ad;
  }

  & .section {
    margin: 0 0 80px;
  }

  & .section-title {
    margin: 0 0 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #303538;
  }

  & .section-description {
    margin: 0;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.3px;
    text-align: center;
    color: #303538;
  }

  & .section-principles {
    &:before {
      margin: 0 auto 30px;
      display: block;
      content: '';
      background: url('/_pages/home/img/home_icon_principles.png') center no-repeat;
      background-size: contain;
      width: 80px;
      height: 50px;
    }
  }

  & .section-writings {
    &:before {
      margin: 0 auto 30px;
      display: block;
      content: '';
      background: url('/_pages/home/img/home_icon_writings.png') center no-repeat;
      background-size: contain;
      width: 80px;
      height: 50px;
    }
  }

  & .section-colors {
    &:before {
      margin: 0 auto 30px;
      display: block;
      content: '';
      background: url('/_pages/home/img/home_icon_colors.png') center no-repeat;
      background-size: contain;
      width: 80px;
      height: 50px;
    }
  }

  & .section-web {
    &:before {
      margin: 0 auto 30px;
      display: block;
      content: '';
      background: url('/_pages/home/img/home_icon_web.png') center no-repeat;
      background-size: contain;
      width: 80px;
      height: 50px;
    }
  }

  & .section-app {
    &:before {
      margin: 0 auto 30px;
      display: block;
      content: '';
      background: url('/_pages/home/img/home_icon_app.png') center no-repeat;
      background-size: contain;
      width: 80px;
      height: 50px;
    }
  }
}
