html {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: normal;
  letter-spacing: -.3px;
  background: var(--white);
  color: var(--slategray_80);
}

body {
  margin-top: var(--site-header-height);
}

h1, h2, h3, h4, h5, h6 {
  margin: 40px 0 20px;
  font-weight: bold;
}

h1 {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0;
  color: var(--slategray_100);

  & small {
    margin-top: 8px;
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
}

h6 {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: var(--slategray_60);
}

p {
  line-height: 1.75;
}

ul {
  padding: 0 0 0 28px;
}

ul ul {
  padding: 0 0 0 18px;
}

li {
  margin: 8px 0;
  line-height: 1.75;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  border-left: 4px solid var(--lightsteelblue_20);
  color: var(--slategray_60);
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid var(--slategray_10);
}

th, td {
  padding: 10px 30px;
}

thead {
  background: var(--lightsteelblue_5);
}

th {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  color: var(--slategray_60);
}

td:first-child {
  font-weight: bold;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--dodgerblue_30);

  &:hover {
    color: var(--dodgerblue_40);
  }
}

pre {
  overflow-x: scroll;
  padding: 30px;
  background: var(--lightsteelblue_5);
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  letter-spacing: 0;
}

img {
  display: block;
  width: 100%;
  margin: 20px 0;
}

hr {
  margin: 60px 0;
  border: 1px solid var(--slategray_5);
}
