:root {
  --site-header-height: 74px;
  --site-submenu-height: 52px;
  --site-footer-height: 180px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  padding-top: var(--site-header-height);
  padding-bottom: var(--site-footer-height);
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--site-header-height);
  background: var(--white);
  color: var(--slategray_100);
  border-bottom: 1px solid var(--slategray_10);
  z-index: 10;
}

.site-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

.site-title__link {
  display: inline-block;
  padding: 25px 20px;
  color: inherit;
  font-weight: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.site-title__ridi {
  display: inline-block;
  text-indent: -100%;
  background-color: currentColor;
  mask: url('/assets/img/ridi.svg') center no-repeat;
  width: 36px;
  height: 15px;
  overflow: hidden;
  margin-right: 8px;
}

.site-title__design-system {
  margin-left: -4px;
}

.site-menu {
  height: 100%;
}

.site-menu__toggle-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 64px;
  height: 100%;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;

  & .site-menu__toggle-button-content, &::before, &::after {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    height: 0;
    border: 1px solid currentColor;
    border-radius: 1px;
  }

  & .site-menu__toggle-button-content {
    width: 24px;
    font-size: 0;
    transition: opacity .2s;
  }

  &::before, &::after {
    content: "";
    width: 18px;
    transition: transform .2s;
  }

  &::before {
    transform: translateY(-7px);
  }

  &::after {
    transform: translateY(7px);
  }
}

.site-menu__toggle-button_pressed {
  &::before {
    transform: rotateZ(45deg) scaleX(1.414);
  }

  &::after {
    transform: rotateZ(-45deg) scaleX(1.414);
  }

  & .site-menu__toggle-button-content {
    opacity: 0;
  }
}

.site-menu__list {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: var(--site-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background: var(--white);

  & .site-menu__list {
    display: none;
  }
}

.site-menu__list_animated {
  transition: opacity .2s, visibility .2s;
}

.site-menu__list_visible {
  visibility: visible;
  opacity: 1;
}

.site-menu__item {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  letter-spacing: 0;
  color: var(--slategray_80);
}

.site-menu__item_active {
  color: var(--slategray_100);
  font-weight: bold;
  border-bottom: 2px solid currentColor;
}

.site-menu__link {
  display: block;
  padding: 8px 0;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.site-aside {
  padding: 20px;
}

.site-submenu {
  position: relative;
  height: var(--site-submenu-height);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    content: "";
    width: var(--site-submenu-height);
    background: var(--slategray_50);
    mask: url("~@ridi/rsg/svg/icons/arrow_5_down.svg") center no-repeat;
    mask-size: 12px 7px;
    cursor: pointer;
  }
}

.site-submenu__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 1px solid var(--slategray_20);
  background: var(--submenu-background-color);
  list-style: none;
}

.site-submenu__item {
  display: none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--lightsteelblue_90);
  cursor: pointer;
}

.site-submenu__item_active {
  display: block;
  font-weight: bold;
  color: var(--lightsteelblue_100);
}

.site-submenu__link {
  display: block;
  padding: 14px 20px;
  font-weight: inherit;

  &, &:hover {
    color: inherit;
  }
}

.site-submenu_opened {
  &::after {
    transform: rotate(180deg);
  }

  & .site-submenu__item {
    display: block;
  }
}

.site-main {
  padding: 20px;

  &::before {
    display: block;
    content: "";
    margin-bottom: 80px;
  }

  &::after {
    display: block;
    content: "";
    margin-top: 80px;
  }
}

.site-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  height: var(--site-footer-height);
  border-top: 1px solid var(--slategray_10);
  padding: 30px 0;
  text-align: center;
  background: var(--lightsteelblue_5);
}

.site-link-list {
  margin: 0 0 18px;
  padding: 0;
  line-height: 0;
}

.site-link-list-official {
  margin-bottom: 36px;
}

.site-link-list__item {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;

  &:not(:last-child) {
    &::after {
      content: "";
      margin: 0 12px;
      display: block;
      width: 3px;
      height: 3px;
      background: var(--lightsteelblue_40);
      border-radius: 50%;
    }
  }
}

.site-link-list__link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: var(--lightsteelblue_80);

  &:hover {
    color: var(--lightsteelblue_100);
  }
}

.site-link-list__link-ridicorp {
  color: var(--slategray_60);
  font-weight: normal;

  &::before {
    content: "\00a9 ";
  }
}

.site-link-list-products__link {
  display: inline-block;
  background-color: currentColor;
  mask: center no-repeat;
  height: 11px;
  text-indent: -99999px;
  overflow: hidden;
}

.site-link-list__link-ridibooks {
  mask-image: url('/assets/img/ridibooks.svg');
  width: 71px;
}

.site-link-list__link-ridiselect {
  mask-image: url('/assets/img/ridiselect.svg');
  width: 67px;
}

.site-link-list__link-paper {
  mask-image: url('/assets/img/paper.svg');
  width: 42px;
}
