<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{ '/assets/css/index.css' | prepend: site.baseurl }}" />
</head>
<body>
  <header>
    <a href="{{ '/' | prepend: site.baseurl }}">
      <h1>RIDI Design System</h1>
    </a>
    <nav>
      <ul>
        <li>
          <a href="{{ '/principles' | prepend: site.baseurl }}">
            Principles
          </a>
        </li>
        <li>
          <a href="{{ '/writings' | prepend: site.baseurl }}">
            Writings
          </a>
        </li>
        <li>
          <a href="{{ '/colors' | prepend: site.baseurl }}">
            Colors
          </a>
        </li>
        <li>
          <a href="{{ '/web/principles' | prepend: site.baseurl }}">
            Web
          </a>
          <ul>
            <li>
              <a href="{{ '/web/principles' | prepend: site.baseurl }}">
                Principles
              </a>
            </li>
            <li>
              <a href="{{ '/web/components' | prepend: site.baseurl }}">
                Components
              </a>
            </li>
            <li>
              <a href="{{ '/web/icons' | prepend: site.baseurl }}">
                Icons
              </a>
            </li>
            <li>
              <a href="{{ '/web/typography' | prepend: site.baseurl }}">
                Typography
              </a>
            </li>
            <li>
              <a href="{{ '/web/motion' | prepend: site.baseurl }}">
                Motion
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ '/app/principles' | prepend: site.baseurl }}">
            App
          </a>
          <ul>
            <li>
              <a href="{{ '/app/principles' | prepend: site.baseurl }}">
                Principles
              </a>
            </li>
            <li>
              <a href="{{ '/app/components' | prepend: site.baseurl }}">
                Components
              </a>
            </li>
            <li>
              <a href="{{ '/app/icons' | prepend: site.baseurl }}">
                Icons
              </a>
            </li>
            <li>
              <a href="{{ '/app/typography' | prepend: site.baseurl }}">
                Typography
              </a>
            </li>
            <li>
              <a href="{{ '/app/motion' | prepend: site.baseurl }}">
                Motion
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  {{ content }}
</body>
</html>
