<!DOCTYPE html>
{% assign page_url = page.url | remove: '/index' %}
<html lang="ko" class="{{ page.root_class }}">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}" />
</head>
<body>
  <header class="site-header">
    <h1 class="site-title">
      <a class="site-title__link" href="{{ '/' | relative_url }}">
        <span class="site-title__ridi">RIDI</span>
        <span class="site-title__design-system">Design System</span>
      </a>
    </h1>

    <nav class="site-menu">
      <button id="site-menu-toggle-button" class="site-menu__toggle-button">
        <span class="site-menu__toggle-button-content">Toggle Menu</span>
      </button>

      <ul id="site-menu-root-list" class="site-menu__list site-menu__root-list">
        {% for item in site.data.navigation %}
        <li class="site-menu__item{% if item.url == page_url %} site-menu__item--active{% endif %}">
          <a class="site-menu__link" href="{{ item.url | relative_url }}">
            {{ item.title }}
          </a>

          {% if item.children %}
          <ul class="site-menu__list">
            {% for sub_item in item.children %}
            <li class="site-menu__item{% if item.url == page_url %} site-menu__item--active{% endif %}">
              <a class="site-menu__link" href="{{ sub_item.url | relative_url }}">
                {{ sub_item.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main class="site-main">
    {{ content }}
  </main>

  <footer class="site-footer">
    {% for link_list in site.data.links %}
    <ul class="site-link-list site-link-list-{{ link_list[0] }}">
      {%- for item in link_list[1] -%}
      <li class="site-link-list__item site-link-list__item-{{ item.name }}">
        <a
          class="site-link-list__link site-link-list__link-{{ item.name }}"
          href="{{ item.url }}"
          target="_blank"
        >
          {{ item.title }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
    {% endfor %}
  </footer>

  <script>
    (function initSiteMenuToggleButton() {
      var toggleMenuButton = document.getElementById('site-menu-toggle-button');
      var rootMenuList = document.getElementById('site-menu-root-list');

      toggleMenuButton.addEventListener('click', function () {
        toggleMenuButton.classList.toggle('site-menu__toggle-button--pressed');
        rootMenuList.classList.toggle('site-menu__root-list--visible');
      });
    })();
  </script>
</body>
</html>
