<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{ '/assets/css/index.css' | prepend: site.baseurl }}" />
</head>
<body>
  <header>
    <h1>
      <a href="{{ '/' | prepend: site.baseurl }}">
        RIDI Design System
      </a>
    </h1>

    <nav>
      <ul>
        {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.url | prepend: site.baseurl }}">
            {{ item.title }}
          </a>

          {% if item.children %}
          <ul>
            {% for sub_item in item.children %}
            <li>
              <a href="{{ sub_item.url | prepend: site.baseurl }}">
                {{ sub_item.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  {{ content }}
</body>
</html>
